// Tips:
// Use FontsAwesome css classes as icons assets, ex. i.fas.fa-times
// Use variable image to grab img src value
- var image = "https://source.unsplash.com/featured/600x600?newsletter"
section.newsletter-wrapper
  .newsletter
    img(src=image alt="newsletter image")
