// Main styles
$primary-color: #FCAF32;
$secondary-color: #FC888E;

html,
body {
  font-family: 'Lato', sans-serif;
}

main {
  @include flex-center;

  background: linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%);
  min-height: 100vh;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  appearance: none;

  &:hover,
  &:focus {
    outline: 0;
  }

  &.primary {
    background-color: #000;
    color: #FFF;
    padding: 15px 20px;
    text-transform: uppercase;
  }
}
