doctype html
html(lang="EN")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato|Lobster&amp;display=swap")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
    link(rel="stylesheet", href="styles/style.scss")
  body
    main
      include html/slider.pug
      include html/newsletter.pug
    script(src="js/index.js")

